@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes swapY{
  
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* GLOBAL -----------------------------------------------------------------*/

*{
  
  @apply font-sans text-center text-text-color-light dark:text-text-color-dark;
}

input{
  @apply autofill:delay-[9999s] focus:delay-[9999s] hover:delay-[9999s] active:delay-[9999s];
}

textarea{
  @apply autofill:delay-[9999s] focus:delay-[9999s] hover:delay-[9999s] active:delay-[9999s];
}

/* FLEX ELEMENTS -----------------------------------------------------------------*/

.c_col_elm{

  @apply flex flex-col items-center;
}

.c_row_elm{

  @apply flex flex-row items-center;
}

.row_elm{

  @apply flex flex-row;
}

/* TEXT ELEMENTS -----------------------------------------------------------------*/

.head_text{

  @apply font-[Inter] text-[100px];
}

.subhead_text{

  @apply font-[Inter] text-[40px] my-5;
}
.new_action_text{

  @apply font-inter text-[14px] font-[700] w-[75px]; /* maybe increase font-size*/
}
/* FONTS -----------------------------------------------------------------*/



/* BUTTONS -----------------------------------------------------------------*/

.purple_btn{

  @apply ring-gray-300 hover:bg-purple-500 bg-purple-400 w-auto p-1 px-2 min-w-[60px]  rounded-[6px] h-[48px] text-[16px] font-[600] ;
  
}

.row_options_button{

  @apply border-[2px] border-slate-800 dark:text-[#c9c9c9] dark:border-slate-500 w-[94px] p-1 pl-2 rounded-lg text-[16px] text-start font-[600] ;
}

/* ANIMATION ELEMENTS -----------------------------------------------------------------*/


/* ANIMATION ELEMENTS -----------------------------------------------------------------*/

.workflow_grid{

  @apply h-auto min-h-[114px] p-2 bg-zinc-300 rounded-xl overflow-auto;
  background: radial-gradient(at left top, #D4D4D8, #D4C2F2);

  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 266px);
}


.rows_grid{

  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, max(50%, 430px));
  align-items: start;
  align-self: self-start;
}

.workflow_action_wrapper{

  @apply w-[auto] h-[210px] p-1;
}

.scraper_grid{

  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fill, 610px);
  align-items: start;
  align-self: self-start;
  height: auto;
}
/* TOOLTIPS */

.workflow_action_drop_container{

  @apply min-w-[190px] max-w-[190px] h-full border-2 border-[darkslategray] p-1;
}


.tooltip_text_main{

  @apply font-inter text-[14px] font-[600];
}

.tooltip_option_text{

  @apply font-inter text-[14px] font-[500];
}

.tooltip{

  @apply absolute bg-[#ffffff] font-inter text-[14px] p-1 mt-2 w-max max-w-[350px] h-max border-[3px] border-[blueviolet]  rounded-xl z-10;

  box-shadow: 0px 0px 8px darkslategray;
}

.workflow_loop_wrapper{

  @apply w-[700px] h-auto p-1 border-black border-2 ;
}

.workflow_loop_drop_container{

  @apply w-auto h-full p-2  border-2 border-[black] ;
}


#toggle_dot{

  transition: all 0.3s ease-in-out;
}

